model_config_list { 
  config {
    name: 'flower'
    base_path: '/home/doan.bao.linh/Desktop/Project/Flower/flowers102_retrieval_streamlit/serving/flower'
    model_platform: "tensorflow",
    model_version_policy: {
       latest: {
        num_versions: 3
       }
    }
  }
  config {
    name: 'saliency'
    base_path: '/home/doan.bao.linh/Desktop/Project/Flower/flowers102_retrieval_streamlit/serving/saliency'
    model_platform: "tensorflow",
    model_version_policy: {
       latest: {
        num_versions: 3
       }
    }
  }
  config {
    name: 'classifier'
    base_path: '/home/doan.bao.linh/Desktop/Project/Flower/flowers102_retrieval_streamlit/serving/classifier'
    model_platform: "tensorflow",
    model_version_policy: {
       latest: {
        num_versions: 3
       }
    }
  }
}